:root {
    --text: #ffffff;
    --background: #010814;
    --dark: #011b35;
    --light: #05274f;
    --accent: #004a93;
    --accent2: rgb(255, 115, 72);
    --accent3: rgb(75, 233, 146);
    --disabled: #0a345c;
    --disabled-important: #1880d6;
    --messagebox: #360d26;
    --gameoverbox: #0d3626;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    color: var(--text);
}

h1 {
    font-size: 2em;
}

body {
    margin-top: 2em;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 3rem;
}

header > p {
    color: var(--disabled-important);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.row {
    background-color: var(--dark);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.row-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.chance-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

button {
    padding: 8px 30px;
    background-color: var(--accent);
    color: var(--text);
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.button-play {
    width: 100%;
}

.input-box {
    width: 75px;
    padding: 0.3rem;
    height: 100%;
    background-color: var(--light);
    border: none;
    caret-color: var(--text);
    color: var(--text);
    text-align: center;
}

.input-box:disabled,
.button-play:disabled {
    background-color: var(--disabled);
    color: var(--disabled-important);
    cursor: default;
}

.input-box:disabled:hover,
.button-play:disabled:hover {
    filter: none;
}

.input-box:focus {
    outline: 1px solid var(--accent);
}

.chance-container > span {
    width: 20%;
}

.chance-list-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.score-container {
    display: flex;
    gap: 1em;
    /* background-color: var(--light); */
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.non-visible {
    display: none;
}

.play-score-container {
    flex-grow: 1;
}

.muertos-noncero {
    color: var(--accent2);
}

.heridos-noncero {
    color: var(--accent3);
}

.gameover-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--gameoverbox);
}

.gameover-container > button {
    background-color: forestgreen;
}

.validation-container {
    text-align: center;
    background-color: var(--messagebox);
    color: mediumvioletred;
    padding: 0.2rem 0;
    border-radius: 20px;
}
